flows.json
[{"id":"6083fdc9.561af4","type":"http in","z":"b9894f0f.190c7","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":1700,"y":600,"wires":[["ad48b52a.40d4e8"]]},{"id":"367f7d94.7b3742","type":"http response","z":"b9894f0f.190c7","name":"Resposta para o Cliente","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":2570,"y":720,"wires":[]},{"id":"fc0dab3.6922558","type":"watson-assistant-v2","z":"b9894f0f.190c7","name":"Meu BOT","service-endpoint":"","assistant_id":"a3c5e8da-8e45-4131-970c-e6970f4aeb79","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":false,"timeout":"","optout-learning":false,"x":2000,"y":860,"wires":[["b651aa29.fcd808","70b0c7b2.d539d8"]]},{"id":"ad48b52a.40d4e8","type":"function","z":"b9894f0f.190c7","name":"Prepara mensagem para o bot","func":"session_id = msg.payload.session_id !== 'undefined' ?  msg.payload.session_id : '';\n\nmsg.params = {\n    \"session_id\" : session_id\n}\n\nmsg.payload = msg.payload.mensagem;\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":720,"wires":[["fc0dab3.6922558"]]},{"id":"b651aa29.fcd808","type":"function","z":"b9894f0f.190c7","name":"Prepara respota para o cliente","func":"msg.payload = {\n    \n    'respostas': msg.payload.output.generic,\n    'session_id': msg.payload.session_id = msg.payload.session_id\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":760,"wires":[["367f7d94.7b3742","6f1ba8e1.046508"]]},{"id":"35269a24.92de66","type":"microphone","z":"b9894f0f.190c7","name":"","x":1650,"y":1100,"wires":[["bc96685b.ac14d8"]]},{"id":"bc96685b.ac14d8","type":"watson-speech-to-text","z":"b9894f0f.190c7","name":"Watson STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"gYiGKHKMMNI7BlvgDJ0aQn4t1oBepXLpwQwVARCtPrqJ","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":1890,"y":1100,"wires":[["34ec6bbe.3450f4","fc0dab3.6922558"]]},{"id":"34ec6bbe.3450f4","type":"debug","z":"b9894f0f.190c7","name":"Saida STT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2110,"y":1100,"wires":[]},{"id":"6f1ba8e1.046508","type":"debug","z":"b9894f0f.190c7","name":"Resposta do bot","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2540,"y":780,"wires":[]},{"id":"1023e4f6.f673fb","type":"watson-text-to-speech","z":"b9894f0f.190c7","name":"Watson TTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"ycXvlTy4oUg6CvXZmYN5NWLkflvG94rsZkOnV9cORB1d","payload-response":false,"service-endpoint":"","x":2610,"y":860,"wires":[["feb204ad.6ea058","dcf02492.709c98"]]},{"id":"70b0c7b2.d539d8","type":"function","z":"b9894f0f.190c7","name":"Prepara TTS","func":"msg.payload = msg.payload.output.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"x":2190,"y":900,"wires":[["418ad107.69b05","1023e4f6.f673fb"]]},{"id":"feb204ad.6ea058","type":"play audio","z":"b9894f0f.190c7","name":"TTS","voice":"17","x":2810,"y":820,"wires":[]},{"id":"dcf02492.709c98","type":"debug","z":"b9894f0f.190c7","name":"Saida TTS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2830,"y":900,"wires":[]},{"id":"418ad107.69b05","type":"debug","z":"b9894f0f.190c7","name":"Saida prepara TTS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2430,"y":960,"wires":[]},{"id":"37fbd6fb.efcdca","type":"watson-translator","z":"b9894f0f.190c7","name":"Para inglês","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","password":"","apikey":"b1ULM-CFM0zxWyJ4xkt6fMCFzWMwJ8SISXUFVHrqaRe0","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":2490,"y":1140,"wires":[[]]}]